#window {
    background-image: url('/home/vesemir/.local/share/edpad/edpad.png');
}

#scroll {
    background: alpha (@base_color, 0.0);
}

#textview {
    font-size: 24px;
    background: alpha (@base_color, 0.0);
}

#textview text {
    color: #8080FF;
    background: alpha (@base_color, 0.0);
}


/*
#paned1,
#paned2,
#paned3,
#paned4,
#grid1,
#grid2,
#bbox1,
#bbox2 {
    background: alpha (@base_color, 0.0);
}
*/
