#window {
    background-image: url('/home/vesemir/.local/share/edpad/edpad.png');
}

#view {
    font-size: 22px;
    background: alpha (@base_color, 0.0);
}
#view text {
    color: #50FF50;
    background: alpha (@base_color, 0.0);
}

* {
    background: alpha (@base_color, 0.0);
}


